* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.head-line {
  height: 64px;
  background-color: rgb(24, 24, 24);
}

.carousel {
  height: 700px;
}

.inner {
  height: inherit;
}

h2 {
  height: 40px;
  margin-bottom: 32px;
  margin-top: 48px;
}

.container {
  height: 478px;
  width: 1344px;
  margin: 0 auto;
}

.digitals {
  margin-bottom: 80px;
}

.bottom-line {
  padding: 40px;
  height: 288px;
}

.class-name {
  font-size: 14px;
}

.cards,
.class-name,
.snss,
.copyrights,
.fassion-line,
.accs-line,
.digital-line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
