* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
}
/* headline css */
.head-line {
  height: 64px;
  background-color: #191d24;
}
.navigation-bar {
  padding: 8px;
}
.nav-container {
  width: 1360px;
  height: 48px;
  margin: 0 auto;
}
.home {
  font-size: 18px;
  font-weight: 700;
}
.navi-flex {
  width: 68%;
  display: flex;
  margin-left: 8px;
}
.fassion,
.accs,
.digital {
  font-size: 14px;
  padding: 0px 12px;
}
.nav-flex {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 8px;
}
.search {
  width: 222px;
}
.counting {
  background-color: #ef4444;
  border-radius: 80%;
}
.carousel {
  height: 700px;
}

.inner {
  height: inherit;
}

h2 {
  height: 40px;
  margin-bottom: 32px;
  margin-top: 48px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.container {
  height: 478px;
  width: 1344px;
  margin: 0 auto;
}

.digitals {
  margin-bottom: 80px;
}

.bottom-line {
  padding: 40px;
  height: 288px;
}

.class-name {
  font-size: 14px;
}

.class-name,
.snss,
.copyrights,
.fassion-line,
.accs-line,
.digital-line {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 268px;
  margin: 0 auto;
}
.snss {
  width: 268px;
  margin: 0 auto;
}
