* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
}
/* headline css */
.head-line {
  height: 64px;
  background-color: #191d24;
}
.navigation-bar {
  padding: 8px;
}
.nav-container {
  width: 1360px;
  height: 48px;
  margin: 0 auto;
  color: #fff;
  display: flex;
  align-items: center;
}
.home {
  font-size: 18px;
  font-weight: 700;
  width: 8%;
  line-height: 0px;
}
.navi-flex {
  width: 66%;
  display: flex;
  margin-left: 8px;
  align-items: center;
}
.fassion,
.accs,
.digital {
  font-size: 14px;
  padding: 0px 12px;
  width: initial;
}
.button:hover {
  padding: 12px;
  border-radius: 6px;
  background-color: #a6adba33;
  cursor: pointer;
}
.nav-flex {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 8px;
}
.light,
.shopping {
  width: initial;
  display: flex;
}
.search {
  width: 222px;
}
.counting {
  background-color: #ef4444;
  border-radius: 80%;
  width: 23px;
  height: 20px;
  bottom: 0px;
  right: 0px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* carousels css */
.carousel {
  height: 700px;
}

.inner {
  height: inherit;
}
.fassion-line,
.accs-line,
.digital-line {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h2 {
  height: 40px;
  margin-bottom: 32px;
  margin-top: 48px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.container {
  height: 478px;
  width: 1344px;
  margin: 0 auto;
}

.digitals {
  margin-bottom: 80px;
}

.bottom-line {
  padding: 40px;
  height: 288px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.class-name {
  font-size: 14px;
}

.class-name,
.snss,
.copyrights {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 268px;
  margin: 0 auto;
}
.snss {
  width: 268px;
  margin: 0 auto;
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6,
.facebook,
.instagram,
.github {
  display: flex;
  align-items: center;
  justify-content: center;
}
